*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


:root{
    --blue: #027BFD; 
    --danger: #F8D7DA; 
    --success: #a8d7b3; 
}

body{
    font-size: 15px; 
    background: var(--blue); 
}

.quiz-box {
    width: 450px; 
    min-height: 400px; 
    border-radius: 10px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background: #fff; 
    padding: .5rem 1rem; 
}

.quiz-box .quiz__header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem; 
    border-bottom: 1px solid #ccc; 
    position: relative; 
}

.quiz-box .quiz__header::after{
    content: "";
    position: absolute;
    width: 80%; 
    height: 5px; 
    background-color: #027BFD;
    bottom: -3px; 
    left: 0; 
    border-radius: 10px; 
}

.quiz-box h2{
    font-size: 18px; 
    font-weight: 700;
    margin: .5rem 0;
}

.quiz__header span:first-child {
    padding: .5rem .7rem; 
    font-weight: bold;
   background-color: #CCE5FF;
   color: var(--blue); 
   border-radius: 5px; 
}

.quiz__header span:last-child{
    background: #343A40; 
    padding: .5rem .7rem; 
    color: #fff; 
    font-weight: bold; 
    width: 30px; 
    height: 30px; 
}


.quiz__body{
    padding: 1rem 1.5rem; 
    border-bottom: 1px solid #ccc; 
}

.quiz__body .options ul  li{
   list-style: none;
   width: 100%; 
   background: #F0F8FF; 
   border: 1px solid #ccc; 
   margin: 1rem 0; 
   padding: .5rem 0; 
   padding-left: 1rem ; 
   font-weight: 500;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
   position: relative;
}

.quiz__body .options ul  li.correct{
    background: var(--success);
}
.quiz__body .options ul  li.correct i{
    display: block; 
}

.quiz__body .options ul  li i {
    position: absolute; 
    right: 5%; 
    top: 50%;
    transform: translateY(-50%);
    color: green; 
    display: none; 
}




.quiz__footer button{
    padding: .5rem .7rem; 
    background: var(--blue); 
    color: #fff; 
    font-weight: bold; 
    border: none; 
    cursor: pointer;
    border-radius: 5px; 
}

.quiz__footer{
    padding: 1rem 0; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


.question{
 height: 5vh; 
}

button.disabled{
    color: #fff; 
    background-color: #92b4d9;
}

.submit_btn{
    background-color: black !important; 
    color: #fff; 
    display: none; 
}


.quiz__body a.clear-selection{
    text-decoration: none;
}


.results {
    display: none;
}

.results .overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    top: 0; 
    left: 0;
    width: 100vw; height: 100vh;
    z-index: 1; 
}

.result__content{
    background-color: #fff;
    width: 600px; 
    height: 400px; 
    position: absolute;
    z-index: 2;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 1rem 1rem; 
}


.times-icon{
    position: absolute;
    top: 7px; 
    right: 10px; 
    font-size: 35px; 
    color: #fff; 
    background: red;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    font-weight: 900;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.result__content img{
    width: 100px;
    text-align:center; 
    margin-top: 1rem;
}

.result-body{
    width: 90%; 
    height: 90%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: auto auto; 
    border: 2px solid #FECE19; 
    border-radius: 10px; 
    text-align: center;
}

.result-body .res{
    margin: 2rem 0; 
}

.result-body .res h2 span {
    font-weight: bold;
    color: red; 
}

h2.greeting{
    font-size: 45px;
    font-style: italic;
    text-align: center;
    margin-top: .5rem; 
}

.res h2 {
    font-size: 30px; 
    margin-bottom: 1rem;
}

.res > span {
    margin-top: 2rem; 
    color: blue; 
    font-size: 1.5rem; 
}